<p id="notice"><%= notice %></p>

<% @user ||= current_user %>

<div class="container text-center">    
  <div class="row">
    <div class="col-sm-4 well">
      <div class="well">
        <p><%= @user.name %></a></p>
        <%= image_tag @user.avatar.url, class: "img-circle", size: "100x100" %>        
      </div>
      <div class="well">
        <p><%= @user.photos.count %> photos</p>
        <p>
          <span class="label label-success"><%= @user.following.count %> following</span>         
          <span class="label label-primary"> <%= @user.followers.count %> followers</span>          
        </p>
      </div>
      <% if @user == current_user %>
      <div class="well">
        <%= render 'photos/form' %>          
      </div>
      <% end %>
    </div>
    
    <div class="col-sm-8">
      <div class="well">      
        <% @photos.each do |photo| %>     

          <%= render partial: "photos/photo", locals: {photo: photo} %>

        <% end %>     
      </div>
    </div>
  </div>
</div>

  <footer class="container-fluid text-center">
    <p>Footer Text</p>
  </footer>

</body>
</html>